[Desktop Entry]
Name=Run TJUAV GS
Icon=[GS_DIR]/util/tjuav_gs_run.png
Comment=Run the TJUAV GroundStation
Exec="[GS_DIR]/util/run-gs.sh"
Version=1.0
Type=Application
Terminal=true
StartupNotify=true
