[Desktop Entry]
Name=Run Plane Simulation
Icon=[GS_DIR]/scripts/tjuav_gs_run.png
Comment=Run the Ardupilot ArduPlane Simulation
Exec="[GS_DIR]/scripts/run-sim.sh"
Version=1.0
Type=Application
Terminal=true
StartupNotify=true
